/* Общие стили */

*, ** {
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --main-text: #0D0417;
  --yellow: #F8D456;
  --gray: #797980;
  --l-gray: #B6B6BF;
  --info-color: #F5F5F5;
  --disabled-color: #E6E4E1;
  --text-disabled: #A6A5A2;
  --link-disabled-bg: #DEDEDE;
  --article-color: #787878;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--white);

  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  line-height: 140%;
  font-weight: 400;
  font-style: normal;
  color: var(--main-text);
}

/* Ссылки */

a {
  text-decoration: none;
  color: inherit;
}

.link {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;

  outline: none;
  text-decoration: none;

  transition: all 0.2s ease-in-out 0s;
}

.link:visited {
  color: var(--gray);
}

.link:hover {
  text-decoration-color: var(--main-text);
  text-decoration-line: underline;
  text-decoration-thickness: 0.1rem;
  transition: all 0.2s ease-in-out 0s;
}

.link:focus,
.link:active {
  color: var(--main-text);
  text-decoration-color: var(--yellow);
  text-decoration-line: underline;
  text-decoration-thickness: 0.2rem;
  transition: all 0.2s ease-in-out 0s;
}

.link:disabled {
  color: var(--l-gray);
}

/* Контейнер карточек */

.card-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Кнопки */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;

  padding: 1.5rem;

  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: var(--main-text);

  border: none;
  cursor: pointer;
}

.button:enabled:hover,
.button:enabled:focus,
.button:enabled:active {
  transition: all 0.2s ease-in-out 0s;
}

.button:disabled {
  border-color: var(--disabled-color);
  background-color: var(--disabled-color);
  color: var(--text-disabled);
}

.button--action {
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  background-color: var(--yellow);

  border: 0.2rem solid var(--yellow);
  border-radius: 0.6rem;
}

.button--action:enabled:hover {
  background-color: var(--white);
  border-color: transparent;
  outline: 0.2rem solid var(--yellow);
}

.button--action:disabled {
  background-color: var(--disabled-color);
  color: var(--text-disabled);
  border-color: var(--disabled-color);
  outline: none;
}

.button--action:enabled:focus,
.button--action:enabled:active {
  outline: none;
  border: 0.1rem solid var(--main-text);
}

.button--link:hover .button--link--arrow {
  background-color: var(--yellow);
}

.button--link:hover .button--link--arrow path {
  stroke: var(--white);
}

.button--link:visited {
  color: var(--gray);
}

.button--link:disabled {
  color: var(--l-gray);
}

.button--link:disabled .button--link--arrow {
  background-color: var(--link-disabled-bg);
}

.button--link:disabled .button--link--arrow path {
  background-color: var(--link-disabled-bg);
  stroke: var(--l-gray);
}

.button--link:focus {
  text-decoration: 0.2rem solid var(--yellow);
}

.button:enabled:hover,
.button:enabled:focus,
.button:enabled:active {
  transition: background-color, color, border 0.2s ease-in-out 0s;
}

/* Карточка */

.card {
  display: grid;
  grid-template-columns: 67rem 47rem;
  grid-column-gap: 3rem;
}

/* Блок изображения */

.card__img-wrap {
  display: block;
  max-width: 67rem;
  object-fit: contain;
  border-radius: 0.8rem;
}

.card__img {
  display: block;
  border-radius: 0.8rem;
  max-width: 100%;
  height: auto;
}

/* Блок инфо */

.card-info {
  max-width: 47rem;
  width: 47rem;

  padding: 3.5rem 3rem;

  background-color: var(--info-color);
  border-radius: 0.8rem;
}

.card-info__article {
  margin: 0;
  margin-bottom: 2rem;

  font-size: 1.4rem;
  line-height: 1.9rem;
  color: var(--article-color);
}

.card-info__title {
  margin: 0;
  margin-bottom: 3.3rem;

  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.3rem;
}

.card-info__info {
  display: flex;
  align-items: center;

  margin-bottom: 3rem;
}

.card-info__price {
  margin-right: 3rem;

  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.4rem;
}

.star-rate {
  display: flex;
  align-items: center;
}

.star-rate img:not(:last-child) {
  margin-right: 0.5rem;
}

.card-info__reviews {
  margin-left: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

/* Описание */

.description__title {
  margin: 0;
  margin-bottom: 1.5rem;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.description__text {
  margin: 0;
  margin-bottom: 3rem;

  font-size: 1.4rem;
  line-height: 140%;
}

/* Характеристики */

.params__title {
  margin: 0;
  margin-bottom: 2rem;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.params__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  font-size: 1.4rem;
  line-height: 1.9rem;

  border-bottom: 0.1rem solid rgba(13, 4, 23, 0.1);
}

.params__term {
  color: var(--article-color);
}

.params__value {
  color: var(--main-text);
}

/* Кнопки */

.card-info__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.card__button:not(:last-child) {
  margin-right: 3rem;
}

.button--link--arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 1.5rem;
  background-color: var(--white);
  border-radius: 50%;
}
