/* variables */
:root {
    --bg: #E5E5E5;
    --dark-text: #0D0417;
    --light-text: #787878;

    --white: #ffffff;
    --accent: #F8D456;
    --violet: #8962F8;
    --blue: #1EA5FC;
    --red: #FD7441;
    --border: #E8E8E8;
}

/* base */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Noto Sans", "Arial", sans-serif;
    font-size: 10px;
    line-height: 1.4rem;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-text);
    background-color: var(--bg);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* test */

* {
    /* outline: 1px solid gray; */
}

/* Контейнер */

.container {
    width: calc(117rem + 9.8rem * 2);
    max-width: calc(117rem + 9.8rem * 2);
    margin: 0 auto;
}

.main {
    background-color: var(--white);
}

.cards {
    padding: 9.8rem;
}

.cards__list {
    /* Фиксированная сетка на гридах */
    display: grid;
    grid-template-columns: repeat(4, 27rem);
    grid-gap: 3rem;
}

/* Классы для кнопок */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    background-color: transparent;
    border: none;
}

/* Карточка */

.card {
    position: relative;
    display: grid;
    grid-template-rows: 20rem 1fr;
    
    min-height: 35.7rem;

    box-shadow: inset 1px 0 0 var(--border), 0 1px 0 0 var(--border), 1px 0 0 0 var(--border);
    border-radius: 10px;
}

.card:focus {
    outline-style: solid;
    outline-color: var(--accent);
    outline-width: 0.2rem;
}

.label {
    position: absolute;
    top: 1.4rem;
    left: 1.4rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1rem 0.4rem;
    border-radius: 0.4rem;
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4rem;
}

.label--sale {
    background-color: var(--red);
}

.label--hit {
    background-color: var(--violet);
}

.label--new {
    background-color: var(--blue);
}

.card--sale .label--sale,
.card--hit .label--hit,
.card--new .label--new {
    display: flex;
}

.card__img-wrap {
    display: flex;
    max-width: 27rem;
}

.card__img {
    width: 27rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card__description {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding-top: 1.5rem;
    padding-right: 0.9rem;
    padding-bottom: 2rem;
    padding-left: 0.9rem;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1.1rem;
}

.card__articul {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--light-text);
}

.card__rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card__stars {
    display: flex;

    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #0D0417;
}

.card__star {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.card__reviews {
    margin-left: 1rem;

    font-family: 'Noto Sans';
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--light-text);

    text-decoration: underline;
}

.card__title {
    margin: 0;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.card__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-top: auto;
}

.card__prices {
    display: flex;
}

.card__price {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.card__price--old {
    display: none;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.card__buttons {
    display: flex;
    justify-content: flex-end;
}

.card__button {
    width: 3.2rem;
    height: 3.2rem;
    margin-left: 2rem;
    background-color: var(--white);
    border-radius: 5rem;
    box-shadow: 0px 2px 4px rgba(32, 14, 50, 0.08);
}

.card__button--buy {
    background-color: var(--accent);
}
